@keyframes menu-main {
    17%{
        width: 10%;
        margin-left: -4%;
        border: 1px solid #000;
    }
    34%{
        width: 20%;
        margin-left: -8%;
    }
    51%{
        width: 30%;
        margin-left: -12%;
    }
    68%{
        width: 40%;
        margin-left: -16%;
    }
    85%{
        width: 50%;
        margin-left: -20%;
    }
    100%{
        width: 60%;
        margin-left: -25%;
    }
}

@keyframes pokeCard {
    10%{
        background: linear-gradient(36deg, red, transparent, transparent);
    }
    20%{
        background: linear-gradient(72deg, red, transparent, transparent);
    }
    30%{
        background: linear-gradient(108deg, red, transparent, transparent);
    }
    40%{
        background: linear-gradient(144deg, red, transparent, transparent);
    }
    50%{
        background: linear-gradient(180deg, red, transparent, transparent); 
    }
    60%{
        background: linear-gradient(216deg, red, transparent, transparent);
    }
    70%{
        background: linear-gradient(252deg, red, transparent, transparent);
    }
    80%{
        background: linear-gradient(288deg, red, transparent, transparent);
    }
    90%{
        background: linear-gradient(324deg, red, transparent, transparent);
    }
    100%{
        background: linear-gradient(360deg, red, transparent, transparent);
    }
}