.categories {
    width: 100%;
    height: auto;
    color: #FFF;
    h1 {
        text-align: center;
    }
    .types {
        grid-template-columns: 30% 30% 30%;
        display: grid;
        gap: 2%;
        justify-content: space-around;
        .type {
            width: 100%;
            text-align: center;
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 51%, rgba(255,0,0,1) 100%);
            border-radius: 0px 150px 0px 150px;
            filter: drop-shadow(2px 4px 6px black);
            cursor: pointer;
            a {
                text-decoration: none;
                color: yellow;
                h2 {
                    font-size: 40px;
                    text-transform: capitalize;
                }
                img {
                    width: 75%;
                }
            }
        }
        .type:hover {
            animation-name: pokeType;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }
}