@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    font-family: 'Shizuru', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(238,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 100%);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

footer {
    position: absolute;
    margin-top: -50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    span {
      font-weight: bold;
    }
    div {
      a {
        margin-right: 20px;
        text-decoration: underline;
        color: #000;
        font-weight: bold;
      }
    }
}

.about {
    text-align: center;
    color: #FFF;
    div {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background: rgba(0,0,0,0.5);
        border-radius: 50px;
        padding: 20px;
        filter: drop-shadow(2px 4px 6px black);
        h2 {
          margin-top: 30px;
        }
        span {
          font-size: 20px;
          margin: 10px;
        }
        a {
          color: #FFF;
          margin: 10px;
        }
    }
}
  